@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type='checkbox'] {
    @apply appearance-none h-[2.4rem] w-[2.4rem] rounded-none bg-sanJuanBlue/25 text-darkPink grid place-content-center;
  }

  input[type='checkbox']:checked {
    @apply bg-darkPink;
  }

  input[type='checkbox']::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    transform: scale(0);
    transition: 70ms transform ease-in-out;
    background-color: #fff;

    clip-path: polygon(79% 40%, 41% 80%, 21% 62%, 30% 52%, 41% 61%, 70% 31%);
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  input[type='checkbox']:disabled {
    background-color: #36536b;
    opacity: 5%;
  }

  .input {
    @apply bg-background font-sans text-[1.5rem] leading-[2.5rem] tracking-[-0.115385px]
        pl-[2rem] pb-[1.7rem] border-b border-b-sanJuanBlue/50 mb-[2.4rem] outline-none
        placeholder-sanJuanBlue/50 focus:placeholder-sanJuanBlue focus:text-sanJuanBlue
         focus:border-b-sanJuanBlue;
  }

  .hide {
    transform: translatex(30rem);
  }

  .btn {
    transition: all 0.15s ease-in-out;
  }

  .btn:active {
    transform: translateY(2px);
  }

  .btnDark {
    background-color: transparent;
    color: #fbfcfe;
    border: solid 1px #fbfcfe;
  }

  .btnLight {
    background-color: transparent;
    color: #36536b;
    border: solid 1px #36536b;
  }
}

@font-face {
  font-family: DMSerifDisplay;
  src: url(../fonts/DMSerifDisplay-Regular.ttf);
}

@font-face {
  font-family: PublicSansReg;
  src: url(../fonts/PublicSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: inherit;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
